<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cn.jpush.phonegap.JPushPlugin" version="0.0.1">

    <name>JPush Plugin</name>
    <description>JPush for cordova plugin</description>
    <author>JPush</author>
    <keywords>JPush,push</keywords>
    <license>Apache 2.0 License</license>

    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <js-module src="www/JPushPlugin.js" name="JPushPlugin">
            <clobbers target="window.plugins.jPushPlugin"/>
    </js-module>

    <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="JPushPlugin">
                    <param name="ios-package" value="JPushPlugin"/>
                </feature>
            </config-file>

            <header-file src="src/ios/Plugins/JPushPlugin.h"/>
            <source-file src="src/ios/Plugins/JPushPlugin.m"/>
           
            <header-file src="src/ios/lib/APService.h" />
            <source-file src="src/ios/lib/libPushSDK.a" framework="true" />
            
            <resource-file src="src/ios/PushConfig.plist" />
        </platform>
</plugin>